@font-face {
    font-family: 'Proxima Nova Thin';
    src: url('../fonts/ProximaNova/ProximaNovaT-Thin.eot');
    src: url('../fonts/ProximaNova/ProximaNovaT-Thin.eot?#iefix') format('embedded-opentype'), url('../fonts/ProximaNova/ProximaNovaT-Thin.woff') format('woff'), url('../fonts/ProximaNova/ProximaNovaT-Thin.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Proxima Nova Regular';
    src: url('../fonts/ProximaNova/ProximaNova-Regular.eot');
    src: url('../fonts/ProximaNova/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/ProximaNova/ProximaNova-Regular.woff') format('woff'), url('../fonts/ProximaNova/ProximaNova-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Proxima Nova Semibold';
    src: url('../fonts/ProximaNova/ProximaNova-Semibold.eot');
    src: url('../fonts/ProximaNova/ProximaNova-Semibold.eot?#iefix') format('embedded-opentype'), url('../fonts/ProximaNova/ProximaNova-Semibold.woff') format('woff'), url('../fonts/ProximaNova/ProximaNova-Semibold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@mixin thin {
    font-family: 'Proxima Nova Thin', sans-serif;
}

@mixin reg {
    font-family: 'Proxima Nova Regular', sans-serif;
}

@mixin bold {
    font-family: 'Proxima Nova Semibold', sans-serif;
}