.goals
	background: url('../img/goals/goals-bg.jpg') no-repeat top center
	background-size: cover
	+reg
	padding-top: 103px
	padding-bottom: 40px
	&__title
		width: 675px
		padding-right: 12px
		text-align: center
		margin-left: auto
		margin-right: auto
		margin-top: 0
		margin-bottom: 3px
		font-size: 24px
		font-weight: 400
		letter-spacing: 0.2px
		color: $white-text
		&__hide
			padding-right: 12px
			text-align: center
			margin-left: auto
			margin-right: auto
			margin-top: 0
			margin-bottom: 95px
			font-size: 20px
			font-weight: 400
			letter-spacing: 0.2px
			color: $white-text
			display: none
	&__subtitle
		display: block
		width: 682px
		padding-right: 3px
		text-align: center
		margin-left: auto
		margin-right: auto
		margin-bottom: 95px
		margin-top: 0
		font-size: 24px
		font-weight: 400
		letter-spacing: 0.13px
		color: $white-text
	&-block
		display: flex
		flex-wrap: wrap
		justify-content: space-between
		padding-bottom: 15px
		&__items
			width: 250px
			text-align: center
			font-size: 15px
			margin-bottom: 67px
			margin-left: 5px
			margin-right: 10px
		&__img
			height: 51px
			display: flex
			align-items: flex-end
			justify-content: center
		&__text
			display: block
			margin-top: 34px
			margin-left: auto
			margin-right: auto
			width: 221px
			line-height: 20px
			font-weight: 300
			color: $white-text

@media (max-width: 1200px)
	.goals
		&__title
			width: 90%
		&__subtitle
			width: 90%
		&-block
			justify-content: space-around

@media (max-width: 864px)
	.goals
		&__title
			font-size: 20px
		&__subtitle
			font-size: 20px

@media (max-width: 701px)
	.goals
		&__title
			display: none
			&__hide
				width: 80%
				display: block
		&__subtitle
			display: none
	
@media (max-width: 413px)
	.goals
			&__title
				&__hide
					width: 99%
					display: block
					font-size: 18px

		
		