@charset "UTF-8";
/* Импорт стилей нормализаций CSS*/
html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

main {
  display: block; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible; }

pre {
  font-family: monospace, monospace;
  font-size: 1em; }

a {
  background-color: transparent; }

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; }

b,
strong {
  font-weight: bolder; }

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

img {
  border-style: none; }

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0; }

button,
input {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

fieldset {
  padding: 0.35em 0.75em 0.625em; }

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal; }

progress {
  vertical-align: baseline; }

textarea {
  overflow: auto; }

[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0; }

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px; }

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit; }

details {
  display: block; }

summary {
  display: list-item; }

template {
  display: none; }

[hidden] {
  display: none; }

/* Импорт стилей шрифтов сайта */
@font-face {
  font-family: 'Proxima Nova Thin';
  src: url("../fonts/ProximaNova/ProximaNovaT-Thin.eot");
  src: url("../fonts/ProximaNova/ProximaNovaT-Thin.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova/ProximaNovaT-Thin.woff") format("woff"), url("../fonts/ProximaNova/ProximaNovaT-Thin.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Proxima Nova Regular';
  src: url("../fonts/ProximaNova/ProximaNova-Regular.eot");
  src: url("../fonts/ProximaNova/ProximaNova-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova/ProximaNova-Regular.woff") format("woff"), url("../fonts/ProximaNova/ProximaNova-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Proxima Nova Semibold';
  src: url("../fonts/ProximaNova/ProximaNova-Semibold.eot");
  src: url("../fonts/ProximaNova/ProximaNova-Semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova/ProximaNova-Semibold.woff") format("woff"), url("../fonts/ProximaNova/ProximaNova-Semibold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }

/* Импорт стилей цветов сайта */
/* Импорт стилей анимаций*/
.animated {
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both; }

.animated.infinite {
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite; }

.animated.delay-1s {
  -webkit-animation-delay: 1s;
          animation-delay: 1s; }

.animated.delay-2s {
  -webkit-animation-delay: 2s;
          animation-delay: 2s; }

.animated.delay-3s {
  -webkit-animation-delay: 3s;
          animation-delay: 3s; }

.animated.delay-4s {
  -webkit-animation-delay: 4s;
          animation-delay: 4s; }

.animated.delay-5s {
  -webkit-animation-delay: 5s;
          animation-delay: 5s; }

.animated.fast {
  -webkit-animation-duration: 800ms;
          animation-duration: 800ms; }

.animated.faster {
  -webkit-animation-duration: 500ms;
          animation-duration: 500ms; }

.animated.slow {
  -webkit-animation-duration: 2s;
          animation-duration: 2s; }

.animated.slower {
  -webkit-animation-duration: 3s;
          animation-duration: 3s; }

@media (print), (prefers-reduced-motion) {
  .animated {
    -webkit-animation: unset !important;
            animation: unset !important;
    -webkit-transition: none !important;
    transition: none !important; } }

@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0); }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0); } }

@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0); }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0); } }

.fadeInUp {
  -webkit-animation-name: fadeInUp;
          animation-name: fadeInUp; }

/* Импорт стилей слайдера*/
.slick-loading .slick-list {
  background: #fff url("./ajax-loader.gif") center center no-repeat; }

@font-face {
  font-family: 'slick';
  font-weight: normal;
  font-style: normal;
  src: url("./fonts/slick.eot");
  src: url("./fonts/slick.eot?#iefix") format("embedded-opentype"), url("./fonts/slick.woff") format("woff"), url("./fonts/slick.ttf") format("truetype"), url("./fonts/slick.svg#slick") format("svg"); }

.slick-prev,
.slick-next {
  font-size: 0;
  line-height: 0;
  position: absolute;
  top: 50%;
  display: block;
  width: 20px;
  height: 20px;
  padding: 0;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  cursor: pointer;
  color: transparent;
  border: none;
  outline: none;
  background: transparent; }

.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  color: transparent;
  outline: none;
  background: transparent; }

.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
  opacity: 1; }

.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: .25; }

.slick-prev:before,
.slick-next:before {
  font-family: 'slick';
  font-size: 20px;
  line-height: 1;
  opacity: .75;
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.slick-prev {
  left: -25px; }

[dir='rtl'] .slick-prev {
  right: -25px;
  left: auto; }

.slick-prev:before {
  content: '←'; }

[dir='rtl'] .slick-prev:before {
  content: '→'; }

.slick-next {
  right: -25px; }

[dir='rtl'] .slick-next {
  right: auto;
  left: -25px; }

.slick-next:before {
  content: '→'; }

[dir='rtl'] .slick-next:before {
  content: '←'; }

.slick-dotted.slick-slider {
  margin-bottom: 30px; }

.slick-dots {
  position: absolute;
  bottom: -25px;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center; }

.slick-dots li {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer; }

.slick-dots li button {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 20px;
  height: 20px;
  padding: 5px;
  cursor: pointer;
  color: transparent;
  border: 0;
  outline: none;
  background: transparent; }

.slick-dots li button:hover,
.slick-dots li button:focus {
  outline: none; }

.slick-dots li button:hover:before,
.slick-dots li button:focus:before {
  opacity: 1; }

.slick-dots li button:before {
  font-family: 'slick';
  font-size: 6px;
  line-height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  content: '•';
  text-align: center;
  opacity: .25;
  color: black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.slick-dots li.slick-active button:before {
  opacity: .75;
  color: black; }

.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0; }

.slick-list:focus {
  outline: none; }

.slick-list.dragging {
  cursor: pointer;
  cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  margin-left: auto;
  margin-right: auto; }

.slick-track:before,
.slick-track:after {
  display: table;
  content: ''; }

.slick-track:after {
  clear: both; }

.slick-loading .slick-track {
  visibility: hidden; }

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px; }

[dir='rtl'] .slick-slide {
  float: right; }

.slick-slide img {
  display: block; }

.slick-slide.slick-loading img {
  display: none; }

.slick-slide.dragging img {
  pointer-events: none; }

.slick-initialized .slick-slide {
  display: block; }

.slick-loading .slick-slide {
  visibility: hidden; }

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

/* Импорт стилей страницы*/
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body {
  font-family: 'Proxima Nova Regular', sans-serif; }

img {
  max-width: 100%;
  margin: auto; }

.container {
  width: 1171px;
  margin: auto; }

.input {
  display: block;
  margin: auto;
  border: 1px solid #e8e8e8;
  width: 260px;
  height: 50px;
  text-align: center;
  font-size: 13px;
  font-family: 'Proxima Nova Thin', sans-serif;
  letter-spacing: 0.35px;
  color: #7c7c7c; }
  .input:focus {
    border-color: #e8e8e8;
    outline: none; }

#username-error {
  position: absolute;
  display: block;
  margin-top: -15px;
  padding-left: 45px;
  font-style: oblique;
  font-size: 12px;
  text-align: center;
  font-family: 'Proxima Nova Regular', sans-serif; }

#phone-hero-error, #phone-modal-error {
  position: absolute;
  display: block;
  margin-top: -15px;
  padding-left: 45px;
  font-style: oblique;
  font-size: 12px;
  font-family: 'Proxima Nova Regular', sans-serif; }

#email-error {
  position: absolute;
  display: block;
  margin-top: -15px;
  padding-left: 45px;
  font-style: oblique;
  font-size: 12px;
  font-family: 'Proxima Nova Regular', sans-serif; }

.error {
  border-color: red; }

.slick-slider {
  width: 77%;
  margin: auto; }

.slick-active {
  outline: none; }

@media (max-width: 1200px) {
  .container {
    width: 1100px;
    width: 96%; } }

@media (max-width: 768px) {
  .container {
    width: 90%; } }

@media (max-width: 567px) {
  .container {
    width: 90%; } }

@media (max-width: 360px) {
  .container {
    width: 90%; } }

/* Импорт стилей навигационного меню */
.navbar {
  background-color: #e7e7e7;
  position: fixed !important;
  width: 100%;
  z-index: 3; }
  .navbar-info {
    padding-top: 10px;
    padding-bottom: 8px;
    padding-right: 3px;
    text-align: right; }
  .navbar-block {
    background-color: #e7e7e7;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .navbar__menu-tabs {
    display: inline-block;
    padding-right: 23px;
    font-size: 14px;
    margin-right: 5px;
    margin-left: 1px;
    text-decoration: none;
    position: relative;
    color: #1f1f1f;
    font-family: 'Proxima Nova Semibold', sans-serif; }
    .navbar__menu-tabs:after {
      content: '';
      display: block;
      height: 1px;
      background-color: #23bac1;
      -webkit-transition: all 0.2s;
      transition: all 0.2s;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      width: 0%; }
    .navbar__menu-tabs:hover:after {
      width: 100%; }
  .navbar__menu a:nth-child(1) {
    padding-right: 26px; }
  .navbar__menu a:nth-child(2) {
    padding-right: 21px; }
  .navbar__menu a:nth-child(3), .navbar__menu a:nth-child(4), .navbar__menu a:nth-child(5) {
    padding-right: 25px; }
  .navbar__phone {
    display: block;
    text-decoration: none;
    color: #1f1f1f;
    font-size: 17px;
    font-family: 'Proxima Nova Semibold', sans-serif;
    letter-spacing: 0.2px; }
  .navbar__callback {
    text-decoration: none;
    font-size: 14px;
    color: #23bac1; }
    .navbar__callback:after {
      content: '';
      display: block;
      height: 1px;
      background-color: #23bac1;
      -webkit-transition: all 0.2s;
      transition: all 0.2s;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      width: 0%; }
    .navbar__callback:hover:after {
      width: 100%; }
  .navbar-mobile {
    position: relative;
    top: 25px;
    left: 25px;
    z-index: 1;
    -webkit-user-select: none;
    -moz-user-select: none;
     -ms-user-select: none;
         user-select: none; }
    .navbar-mobile__input {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      width: 40px;
      height: 32px;
      position: absolute;
      opacity: 0;
      z-index: 2; }
      .navbar-mobile__input:checked ~ span {
        opacity: 1;
        background-color: #000;
        -webkit-transform: rotate(45deg) translate(-3px, -1px);
                transform: rotate(45deg) translate(-3px, -1px); }
      .navbar-mobile__input:checked ~ span:nth-last-child(3) {
        opacity: 0;
        -webkit-transform: rotate(0deg) scale(0.2, 0.2);
                transform: rotate(0deg) scale(0.2, 0.2); }
      .navbar-mobile__input:checked ~ span:nth-last-child(2) {
        -webkit-transform: rotate(-45deg) translate(0, -1px);
                transform: rotate(-45deg) translate(0, -1px); }
      .navbar-mobile__input:checked ~ ul {
        -webkit-transform: none;
                transform: none; }
    .navbar-mobile__link {
      text-decoration: none;
      color: #1f1f1f;
      font-size: 14px;
      font-family: 'Proxima Nova Regular', sans-serif;
      -webkit-transition: 200ms;
      transition: 200ms; }
    .navbar-mobile__ul {
      padding: 0;
      list-style-type: none;
      position: absolute;
      background-color: #e7e7e7;
      -webkit-font-smoothing: antialiased;
      -webkit-transform-origin: 0% 0%;
              transform-origin: 0% 0%;
      -webkit-transform: translate(-100%, 0);
              transform: translate(-100%, 0);
      -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
      transition: -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
      transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
      transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1); }
    .navbar-mobile__li {
      padding: 10px 0;
      -webkit-transition-delay: 2s;
              transition-delay: 2s; }
    .navbar-mobile__nav {
      height: 65px; }
    .navbar-mobile__btn {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      width: 29px;
      height: 2px;
      margin-bottom: 5px;
      position: relative;
      background: #ffffff;
      border-radius: 3px;
      z-index: 1;
      -webkit-transform-origin: 5px 0px;
              transform-origin: 5px 0px;
      -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
      transition: -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
      transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
      transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
      -webkit-transition: background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
      transition: background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
      -webkit-transition: opacity 0.55s ease;
      transition: opacity 0.55s ease; }
      .navbar-mobile__btn:first-child {
        -webkit-transform-origin: 0% 0%;
                transform-origin: 0% 0%; }
      .navbar-mobile__btn:nth-last-child(2) {
        -webkit-transform-origin: 0% 100%;
                transform-origin: 0% 100%; }

@media (max-width: 1200px) {
  .navbar-block {
    -ms-flex-pack: distribute;
        justify-content: space-around; } }

@media (min-width: 1108px) {
  .navbar-mobile__nav {
    display: none; } }

@media (max-width: 1108px) {
  .navbar {
    background-color: #190b0be0; }
    .navbar-info {
      padding-top: 16px;
      margin-left: auto; }
    .navbar-block {
      width: 92%;
      padding-right: 15px;
      background-color: transparent; }
    .navbar__menu {
      display: none; }
    .navbar__phone {
      color: #fffafa;
      padding-bottom: 13px; }
    .navbar-mobile {
      top: 25px;
      left: 6px; }
      .navbar-mobile__nav {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column; }
      .navbar-mobile__ul {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: distribute;
            justify-content: space-around;
        position: fixed;
        width: 103%;
        height: 74px;
        margin: -51px 0 0 -60px;
        padding: 16px 0 0 75px;
        border-radius: 0; }
      .navbar-mobile__link {
        font-weight: 600; } }

@media (max-width: 992px) {
  .navbar__callback:hover:after {
    width: 0%; } }

@media (max-width: 768px) {
  .navbar-container {
    width: 88%; }
  .navbar-mobile__ul {
    display: block;
    width: 290px;
    height: 300px;
    border-radius: 5%;
    margin: -45px 0 0 -85px;
    padding: 55px 0 0 95px; } }

/* Стили для главного экрана */
.hero-section {
  background: url("../img/hero/hero-bg.jpg") no-repeat;
  background-position: center top;
  background-size: cover; }

.hero-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 136px 3px 50px 0; }

.hero-text {
  color: #fffafa; }
  .hero-text__title {
    font-size: 48px;
    width: 70%;
    line-height: 1.25;
    letter-spacing: 0.25px;
    font-family: 'Proxima Nova Regular', sans-serif;
    font-weight: 400;
    margin-left: -2px; }
  .hero-text__subtitle {
    display: inline-block;
    font-size: 20px;
    font-family: 'Proxima Nova Thin', sans-serif;
    letter-spacing: 0.3px;
    padding-bottom: 45px;
    margin-left: -2px; }

.hero-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 21px;
  margin-left: -40px; }
  .hero-list__item:last-child {
    padding-bottom: 32px; }
  .hero-list__item:nth-child(1) span:nth-child(2) {
    width: 153px;
    letter-spacing: 0.15px;
    margin-left: 1px; }
  .hero-list__item:nth-child(2) span:nth-child(2) {
    width: 153px;
    letter-spacing: 0.15px;
    margin-left: 2px; }
  .hero-list__item:nth-child(4) span:nth-child(2) {
    width: 153px;
    letter-spacing: 0.15px;
    margin-left: 2px;
    margin-top: 2px; }
  .hero-list__item:nth-child(4) div:nth-child(1) {
    margin-top: 2px;
    margin-left: -2px; }
  .hero-list__item:nth-child(3) span:nth-child(2) {
    width: 240px; }

.hero-list__img {
  width: 35px;
  height: 35px;
  border: 1px solid white;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background-clip: padding-box;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 25px; }

.hero-list__num {
  font-size: 16px;
  font-family: 'Proxima Nova Thin', sans-serif;
  color: #ffffff; }

.hero-list__text {
  font-size: 15px;
  font-family: 'Proxima Nova Thin', sans-serif;
  color: #ffffff;
  letter-spacing: 0.2px; }

.hero__input {
  margin-bottom: 15px; }

.hero__button {
  display: block;
  margin: auto;
  text-align: center;
  font-size: 15px;
  font-family: 'Proxima Nova Regular', sans-serif;
  text-transform: uppercase;
  color: #ffffff;
  width: 260px;
  height: 60px;
  background-color: #23bac1;
  border: none;
  outline: none;
  letter-spacing: 0.7px;
  margin-top: 20px; }
  .hero__button:hover {
    background: #21b2b8;
    cursor: pointer; }

.hero__form {
  display: block;
  padding: 16px 55px 0 55px;
  width: 370px;
  height: 429px;
  margin-top: 45px;
  background-color: #ffffff;
  text-align: center; }
  .hero__form__title {
    font-size: 18px;
    font-family: 'Proxima Nova Semibold', sans-serif;
    line-height: 1.25;
    color: #1f1f1f;
    width: 250px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 8px; }

#another-form-text {
  font-family: 'Proxima Nova Semibold', sans-serif;
  margin-left: 6px; }

@media (max-width: 1200px) {
  .hero-text__title {
    width: 90%; } }

@media (max-width: 1108px) {
  .hero-text__title {
    font-size: 44px; } }

@media (max-width: 991px) {
  .hero__button:hover {
    background-color: #23bac1; } }

@media (max-width: 768px) {
  .hero-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .hero-text__title {
    margin-left: auto;
    text-align: center;
    width: 96%; }
  .hero-text__subtitle {
    display: block;
    margin-left: auto;
    text-align: center; }
  .hero-list {
    display: block; }
    .hero-list__item {
      margin-left: auto;
      margin-right: auto;
      width: 65%; }
  .hero__form {
    margin-left: auto;
    margin-right: auto; } }

@media (max-width: 544px) {
  .hero-block {
    padding: 100px 3px 50px 0; }
  .hero-text__title {
    width: 96%;
    font-size: 28px; }
  .hero-text__subtitle {
    font-size: 14px;
    padding-bottom: 45px; }
  .hero-list__item {
    width: 87%; } }

@media (max-width: 425px) {
  .hero-text__title {
    width: 95%;
    margin-right: auto;
    margin-left: auto;
    text-align: center; }
  .hero-text__subtitle {
    padding-top: 14px;
    margin-right: auto;
    margin-left: auto;
    text-align: center; }
  .hero-list__item {
    margin-left: -5px;
    width: 99%; }
  .hero__input {
    width: 75%;
    font-size: 13px; }
  .hero__button {
    width: 75%;
    display: 12px; }
  .hero__form {
    padding: 16px 0 0 0;
    width: 100%;
    margin-top: 0; }
    .hero__form__title {
      margin-right: auto;
      margin-left: auto;
      text-align: center;
      font-size: 15px; } }

@media (max-width: 360px) {
  .hero-text__title {
    width: 100%;
    font-size: 26px; }
  .hero-list__item {
    width: 114%;
    margin-left: -20px; }
  .hero-list__text {
    font-size: 13px; }
  .hero__form {
    width: 100%; } }

.price {
  padding-top: 63px; }
  .price__title {
    display: block;
    text-align: center;
    font-size: 36px;
    font-family: 'Proxima Nova Regular', sans-serif;
    color: #000000;
    margin-left: -3px;
    margin-top: 31px;
    letter-spacing: 0.25px;
    font-weight: 400; }
    .price__title__underline {
      width: 31px;
      height: 2px;
      margin-top: -10px;
      background-color: #23bac1;
      display: block;
      margin-left: auto;
      margin-right: auto; }
  .price__subtitle {
    display: block;
    text-align: center;
    padding-bottom: 87px;
    padding-top: 40px;
    margin-left: -4px;
    font-size: 20px;
    color: #000000; }

#land {
  margin-left: 10px; }

.card {
  width: 370px;
  height: 680px;
  text-align: center;
  margin-left: -3px;
  margin-bottom: 31px;
  z-index: 0;
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  -webkit-transition: .2s;
  transition: .2s; }
  .card:hover {
    -webkit-filter: grayscale(0%);
            filter: grayscale(0%);
    -webkit-box-shadow: 0 5px 32px rgba(0, 0, 0, 0.1);
            box-shadow: 0 5px 32px rgba(0, 0, 0, 0.1); }
    .card:hover .button {
      background-color: #23bac1;
      border: none;
      color: #ffffff;
      cursor: pointer; }
  .cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .card__price:nth-child(2) {
    margin-right: 1px; }
  .card__price:nth-child(3) {
    margin-right: 4px; }
  .card__price:nth-child(6) {
    margin-right: 4px;
    line-height: 21px; }
  .card__title {
    font-size: 20px;
    letter-spacing: 0.1px; }
  .card__link {
    display: block;
    font-size: 16px;
    font-family: 'Proxima Nova Regular', sans-serif;
    padding-bottom: 7px;
    text-decoration: none;
    color: #1f1f1f;
    cursor: context-menu; }
    .card__link:after {
      content: '';
      display: block;
      height: 1px;
      background-color: #23bac1;
      -webkit-transition: all 0.3s;
      transition: all 0.3s;
      bottom: 0;
      left: 0;
      right: 0;
      margin-top: 9px;
      margin-right: auto;
      margin-left: auto;
      width: 3%; }
    .card__link:hover:after {
      width: 20%; }
    .card__link-last {
      display: block;
      font-size: 16px;
      font-family: 'Proxima Nova Regular', sans-serif;
      text-decoration: none;
      color: #1f1f1f;
      cursor: context-menu; }
  .card__blocklist {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 235px;
    height: 288px;
    padding-top: 28px;
    letter-spacing: -0.08px; }
  .card__button {
    display: block;
    margin: auto;
    padding-top: 19px;
    padding-left: 7px;
    text-align: center;
    font-size: 13px;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 0.7px;
    color: #1f1f1f;
    width: 230px;
    height: 55px;
    background-color: transparent;
    border: 1px solid #aeaeae;
    outline: none; }
  .card:nth-child(4) {
    margin-bottom: 20px; }
    .card:nth-child(4) h3 {
      margin-left: 3px;
      display: block;
      padding-bottom: 2px;
      margin-top: 18px; }
  .card:nth-child(5) {
    margin-bottom: 20px; }
    .card:nth-child(5) h3 {
      padding-left: 27px;
      display: block;
      padding-bottom: 2px;
      margin-top: 18px; }
  .card:nth-child(6) {
    margin-bottom: 20px;
    margin-top: 2px; }
    .card:nth-child(6) h3 {
      display: block;
      padding-bottom: 2px;
      margin-top: 18px; }

#last-buttoncard {
  display: block;
  position: relative;
  margin-top: -4px;
  padding-top: 17px; }

@media (max-width: 1200px) {
  .cards {
    -ms-flex-pack: distribute;
        justify-content: space-around; } }

@media (max-width: 991px) {
  .card {
    -webkit-box-shadow: 0 5px 32px rgba(0, 0, 0, 0.1);
            box-shadow: 0 5px 32px rgba(0, 0, 0, 0.1); }
    .card__link {
      cursor: context-menu; }
      .card__link:hover:after {
        width: 3%; }
      .card__link-last {
        cursor: context-menu; } }

@media (max-width: 544px) {
  .price__title {
    font-size: 34px;
    margin-top: 0; }
  .price__subtitle {
    font-size: 18px;
    padding-bottom: 60px; }
  .card {
    margin-bottom: 15px;
    margin-left: 0; } }

@media (max-width: 360px) {
  .price__title {
    font-size: 30px; }
  .price__subtitle {
    font-size: 16px;
    padding-bottom: 40px; }
  .card {
    margin-bottom: 5px; } }

.portfolio {
  background-color: #e8e8e8;
  padding-top: 53px;
  padding-bottom: 100px; }
  .portfolio-title {
    text-align: center;
    font-size: 36px;
    color: #000000;
    font-weight: 400;
    letter-spacing: 0.2px;
    margin-left: -4px; }
    .portfolio-title__underline {
      width: 31px;
      height: 2px;
      margin-top: -13px;
      background-color: #23bac1;
      display: block;
      margin-left: auto;
      margin-right: auto; }
  .portfolio-subtitle {
    display: block;
    text-align: center;
    font-size: 20px;
    font-weight: 300;
    padding-top: 39px;
    padding-bottom: 96px; }
  .portfolio-slider__block {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -ms-flex-pack: distribute;
        justify-content: space-around; }
  .portfolio-arrows {
    position: relative; }
    .portfolio-arrows__left {
      position: absolute;
      top: -183px;
      left: 0px; }
    .portfolio-arrows__right {
      position: absolute;
      top: -183px;
      right: 3px; }

.description {
  margin-left: 84px;
  margin-right: auto;
  width: 410px; }
  .description__title {
    padding-bottom: 17px;
    margin-top: -2px;
    font-size: 24px;
    color: #000000; }
  .description__note {
    padding-bottom: 12px;
    display: block;
    font-size: 12px;
    font-weight: 300;
    color: #7f7f7f; }
  .description__subtitle {
    display: block;
    padding-bottom: 57px;
    font-size: 16px;
    font-weight: 300;
    color: #000000; }
  .description__details {
    padding-bottom: 12px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    font-size: 12px;
    font-weight: 300;
    color: #7f7f7f; }
    .description__details__text {
      display: inline-block;
      width: 100px;
      margin-right: auto; }
      .description__details__text:nth-child(2) {
        position: absolute;
        margin-left: -15px; }
      .description__details__text:nth-child(3) {
        position: absolute;
        margin-left: 155px;
        width: 130px; }
  .description__specify {
    padding-bottom: 63px;
    font-size: 16px;
    font-weight: 300; }
    .description__specify__text {
      display: inline-block;
      width: 130px; }
      .description__specify__text:nth-child(2) {
        position: absolute;
        margin-left: 10px; }
      .description__specify__text:nth-child(3) {
        position: absolute;
        margin-left: 165px;
        width: 130px; }
  .description__button {
    width: 216px;
    height: 60px;
    padding-left: 2px;
    padding-top: 24px;
    text-align: center;
    font-size: 13px;
    letter-spacing: 0.7px;
    font-weight: 900;
    text-transform: uppercase;
    background-color: #23bac1;
    color: #ffffff;
    outline: none;
    border: none;
    cursor: pointer; }
    .description__button:hover {
      background: #21b2b8; }

@media (max-width: 1200px) {
  .description {
    width: auto; }
    .description__details {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between; }
      .description__details__text {
        width: auto; }
        .description__details__text:nth-child(2) {
          position: relative;
          margin-left: 15%; }
        .description__details__text:nth-child(3) {
          position: relative;
          margin-left: 20%;
          width: auto; }
    .description__specify {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: distribute;
          justify-content: space-around; }
      .description__specify__text {
        width: auto; }
        .description__specify__text:nth-child(2) {
          position: relative;
          margin-left: 10%; }
        .description__specify__text:nth-child(3) {
          position: relative;
          margin-left: 10%;
          margin-right: 15%;
          width: auto; } }

@media (max-width: 991px) {
  .portfolio-slider__block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .portfolio-slider__img {
    margin: auto; }
  .description {
    width: 450px;
    margin: auto; }
    .description__title {
      display: block;
      text-align: center;
      margin: auto;
      padding-top: 40px; }
    .description__details {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between; }
      .description__details__text:nth-child(2) {
        margin-left: 25%; }
      .description__details__text:nth-child(3) {
        margin-left: 20%; }
    .description__specify {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between; }
      .description__specify__text {
        width: auto; }
        .description__specify__text:nth-child(2) {
          position: relative;
          margin-left: 20%;
          margin-right: 5%; }
        .description__specify__text:nth-child(3) {
          position: relative;
          margin-left: 3%;
          margin-right: 15%;
          width: auto; }
    .description__button {
      margin: auto; }
      .description__button:hover {
        background-color: #23bac1; } }

@media (max-width: 991px) {
  .portfolio-title {
    font-size: 34px; }
  .portfolio-subtitle {
    font-size: 18px;
    padding-top: 30px;
    padding-bottom: 70px; }
  .description {
    width: 450px; }
    .description__note, .description__subtitle {
      text-align: center; }
    .description__details {
      display: block; }
      .description__details__text {
        margin-left: 18%; }
        .description__details__text:nth-child(2) {
          margin-left: 14%; }
        .description__details__text:nth-child(3) {
          margin-left: 10%; }
    .description__specify {
      display: block; }
      .description__specify__text {
        margin-left: 19%; }
        .description__specify__text:nth-child(2) {
          margin-left: 15%;
          margin-right: 10%; }
        .description__specify__text:nth-child(3) {
          margin-left: 0%;
          margin-right: 0%; } }

@media (max-width: 650px) {
  .portfolio-title {
    font-size: 30px; }
  .portfolio-subtitle {
    font-size: 16px;
    padding-bottom: 50px; }
  .description {
    width: 300px; }
    .description__details__text {
      margin-left: 0%; }
      .description__details__text:nth-child(2) {
        margin-left: 16%; }
      .description__details__text:nth-child(3) {
        margin-left: 10%; }
    .description__specify__text {
      margin-left: 3%; }
      .description__specify__text:nth-child(2) {
        margin-left: 15%;
        margin-right: 0%; }
      .description__specify__text:nth-child(3) {
        margin-left: 18%; } }

@media (max-width: 426px) {
  .description {
    width: 250px; }
    .description__details__text {
      font-size: 10px;
      margin-left: 2%; }
      .description__details__text:nth-child(2) {
        margin-left: 13%; }
      .description__details__text:nth-child(3) {
        margin-left: 10%; }
    .description__specify__text {
      font-size: 14px;
      margin-left: 3%; }
      .description__specify__text:nth-child(2) {
        margin-left: 15%; }
      .description__specify__text:nth-child(3) {
        margin-left: 14%; } }

@media (max-width: 361px) {
  .portfolio-subtitle {
    font-size: 14px; }
  .description {
    width: 230px; }
    .description__details__text {
      position: absolute;
      margin-top: -15px;
      margin-left: 95px; }
      .description__details__text:nth-child(2) {
        position: absolute;
        margin-top: 40px;
        margin-left: 99px; }
      .description__details__text:nth-child(3) {
        position: absolute;
        margin-top: 95px;
        margin-left: 70px; }
    .description__specify__text {
      position: absolute;
      margin-top: -10px;
      margin-left: 100px; }
      .description__specify__text:nth-child(2) {
        position: absolute;
        margin-top: 45px;
        margin-left: 83px; }
      .description__specify__text:nth-child(3) {
        position: absolute;
        margin-top: 100px;
        margin-left: 93px; }
    .description__button {
      margin-top: 90px; } }

@media (max-width: 360px) {
  .description {
    width: 225px; } }

.goals {
  background: url("../img/goals/goals-bg.jpg") no-repeat top center;
  background-size: cover;
  font-family: 'Proxima Nova Regular', sans-serif;
  padding-top: 103px;
  padding-bottom: 40px; }
  .goals__title {
    width: 675px;
    padding-right: 12px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 3px;
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 0.2px;
    color: #ffffff; }
    .goals__title__hide {
      padding-right: 12px;
      text-align: center;
      margin-left: auto;
      margin-right: auto;
      margin-top: 0;
      margin-bottom: 95px;
      font-size: 20px;
      font-weight: 400;
      letter-spacing: 0.2px;
      color: #ffffff;
      display: none; }
  .goals__subtitle {
    display: block;
    width: 682px;
    padding-right: 3px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 95px;
    margin-top: 0;
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 0.13px;
    color: #ffffff; }
  .goals-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-bottom: 15px; }
    .goals-block__items {
      width: 250px;
      text-align: center;
      font-size: 15px;
      margin-bottom: 67px;
      margin-left: 5px;
      margin-right: 10px; }
    .goals-block__img {
      height: 51px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: end;
          -ms-flex-align: end;
              align-items: flex-end;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; }
    .goals-block__text {
      display: block;
      margin-top: 34px;
      margin-left: auto;
      margin-right: auto;
      width: 221px;
      line-height: 20px;
      font-weight: 300;
      color: #ffffff; }

@media (max-width: 1200px) {
  .goals__title {
    width: 90%; }
  .goals__subtitle {
    width: 90%; }
  .goals-block {
    -ms-flex-pack: distribute;
        justify-content: space-around; } }

@media (max-width: 864px) {
  .goals__title {
    font-size: 20px; }
  .goals__subtitle {
    font-size: 20px; } }

@media (max-width: 701px) {
  .goals__title {
    display: none; }
    .goals__title__hide {
      width: 80%;
      display: block; }
  .goals__subtitle {
    display: none; } }

@media (max-width: 413px) {
  .goals__title__hide {
    width: 99%;
    display: block;
    font-size: 18px; } }

.clients {
  padding-top: 70px;
  padding-bottom: 175px; }
  .clients__title {
    text-align: center;
    margin-left: -15px;
    padding-bottom: 72px;
    font-size: 24px;
    font-weight: 400; }
  .clients-slider {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 84%; }
  .clients-arrows {
    position: relative; }
    .clients-arrows__left {
      position: absolute;
      top: -48px;
      left: -3px; }
    .clients-arrows__right {
      position: absolute;
      top: -48px;
      right: 7px; }

@media (max-width: 650px) {
  .clients__title {
    margin-left: 0;
    padding-bottom: 60px; } }

/* стили для подвала */
.footer {
  padding-bottom: 50px;
  background-color: #191919; }
  .footer-map {
    background-image: url("../img/footer/map.jpg") no-repeat top center;
    background-size: cover;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 420px; }
  .footer-block {
    padding-top: 60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    color: #ffffff; }
  .footer__adress {
    width: 220px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    line-height: 1.3;
    margin-top: -3px; }
    .footer__adress-img {
      padding-top: 8px; }
    .footer__adress-text {
      font-size: 13px;
      font-weight: 300; }
  .footer__call {
    width: 270px;
    margin-top: -13px;
    margin-right: 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    text-align: right;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end; }
  .footer__phone {
    display: block;
    text-decoration: none;
    color: #ffffff;
    font-size: 17px;
    font-family: 'Proxima Nova Semibold', sans-serif;
    letter-spacing: 0.2px; }
  .footer__callback {
    text-decoration: none;
    padding-top: 7px;
    font-size: 13px;
    font-weight: 400;
    color: #23bac1; }
    .footer__callback:after {
      content: '';
      display: block;
      height: 1px;
      background-color: #23bac1;
      -webkit-transition: all 0.2s;
      transition: all 0.2s;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      width: 0%; }
    .footer__callback:hover:after {
      width: 100%; }

.map-style {
  width: 100%;
  border-width: 0; }

@media (max-width: 992px) {
  .footer__callback:hover:after {
    width: 0%; } }

@media (max-width: 541px) {
  .footer {
    padding-bottom: 40px; }
    .footer__adress {
      display: none; }
    .footer__call {
      position: relative;
      margin-left: auto;
      margin-right: auto;
      margin-top: -20px; }
    .footer__phone {
      position: relative;
      margin-left: auto;
      margin-right: auto; }
    .footer__callback {
      position: relative;
      margin-left: auto;
      margin-right: auto; } }

/* Стили модального окна */
.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none; }
  .modal__active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .modal-dialog {
    position: relative;
    margin: auto;
    max-width: 450px;
    background-color: #fff;
    padding: 40px; }
    .modal-dialog__close {
      top: 0;
      right: 0;
      padding: 5px 10px;
      position: absolute;
      border-radius: 10px;
      color: #ffffff;
      background-color: #23bac1;
      outline: none;
      font-size: 18px;
      font-weight: 400; }
      .modal-dialog__close:hover {
        background: #3bd4dc;
        cursor: pointer; }
  .modal__input {
    margin-bottom: 15px; }
  .modal__button {
    display: block;
    margin: auto;
    text-align: center;
    font-size: 15px;
    font-family: 'Proxima Nova Regular', sans-serif;
    text-transform: uppercase;
    color: #ffffff;
    width: 260px;
    height: 60px;
    background-color: #23bac1;
    border: none;
    outline: none;
    letter-spacing: 0.7px;
    margin-top: 20px; }
    .modal__button:hover {
      background: #21b2b8;
      cursor: pointer; }

.kits {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none; }
  .kits__active {
    display: block; }
  .kits-dialog {
    position: relative;
    margin: auto;
    margin-top: 100px;
    max-width: 550px; }
    .kits-dialog__close {
      top: 0;
      right: 50%;
      padding: 5px 10px;
      position: absolute;
      border-radius: 10px;
      color: #ffffff;
      background-color: #23bac1;
      outline: none;
      font-size: 14px;
      font-weight: 400; }
      .kits-dialog__close:hover {
        background: #3bd4dc;
        cursor: pointer; }
  .kits-switch_buttons {
    display: block;
    margin: auto;
    width: 100%;
    text-align: center;
    padding-top: 1px; }
    .kits-switch_buttons ul {
      padding: 0;
      margin-top: 51px; }
      .kits-switch_buttons ul li {
        display: inline-block;
        background-color: #1aa09f;
        -webkit-box-shadow: 0px 2px 0px 0px #1c6e6d;
                box-shadow: 0px 2px 0px 0px #1c6e6d;
        width: 140px;
        margin-top: 4px;
        text-align: center; }
        .kits-switch_buttons ul li.active {
          display: inline-block;
          background-color: #1aa09f59;
          border-radius: 2%;
          -webkit-box-shadow: none;
                  box-shadow: none;
          width: 138px; }
        .kits-switch_buttons ul li a {
          display: inline-block;
          width: 100%;
          height: 100%;
          color: white;
          text-decoration: none !important;
          padding: 5px 0px;
          margin: 0;
          font-size: 16px; }
  .kits-block {
    display: none; }
    .kits-blocks {
      padding-left: 5%; }
    .kits-block__last {
      display: block; }
    .kits-block__img {
      margin: auto;
      width: 95%;
      border-radius: 3%;
      margin-top: 13px; }

@media (max-width: 992px) {
  .kits-dialog__close:hover {
    background-color: #23bac1; } }

@media (max-width: 525px) {
  .kits-dialog__close {
    right: 46%; } }
/*# sourceMappingURL=style.css.map */